<body class="{{ class_name }}">
	<app-header (toggleEvent)="changeClass()"></app-header>

	<main id="main" class="main">
		<div class="pagetitle">
			<h1>Your Hallticket Status</h1>
		</div>
		<!-- End Page Title -->

		<section class="light">
			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col">S.No.</th>
						<th scope="col">{{ "Roll no" }}</th>
						<th scope="col">{{ "Name" }}</th>
						<th scope="col">{{ "Father name" }}</th>
						<th scope="col">{{ "Branch" }}</th>
						<th scope="col">{{ "Examination particular" }}</th>
						<th scope="col">{{ "Semester" }}</th>
						<th scope="col">{{ "Subject" }}</th>
						<th scope="col">{{ "Status" }}</th>
					</tr>
				</thead>
				<tbody>
					<tr
						*ngFor="let cert of certifcates; let i = index"
						class="active-row"
					>
						<td class="middle">{{ i + 1 }}</td>
						<td class="middle">{{ cert.roll_no }}</td>
						<td class="middle">{{ cert.name }}</td>
						<td class="middle">{{ cert.father_name }}</td>
						<td class="middle">{{ cert.branch }}</td>
						<td class="middle">
							{{ cert.examinationParticulars }}
						</td>
						<td class="middle">{{ cert.semester }} semester</td>
						<td class="middle">
							{{ cert.listOfSubjects }}
						</td>
						<td class="middle">
							<button
								class="btn {{
									cert.status ? 'btn-success' : 'btn-warning'
								}}"
							>
								{{ cert.status ? "Approved" : "Pending" }}
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</section>
	</main>
	<!-- End #main -->

	<!-- ======= Footer ======= -->
	<app-footer></app-footer>
</body>
